<form class="{{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        {{> 'systems/tylestel/templates/part/item-headers.html' }}
    </header>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <div class="form-group">
            <label for="system.degats">Degâts</label>
            <input name="system.degats" id="system.degats" type="number" value="{{data.system.degats}}"
                data-dtype="Number" />
        </div>
        <div class="form-group">
            <label for="system.initiative">Initiative</label>
            <input name="system.initiative" id="system.initiative" type="number" value="{{data.system.initiative}}"
                data-dtype="Number" />
        </div>
        <div class="form-group">
            <label for="system.encaissement">Encaissement</label>
            <input name="system.encaissement" id="system.encaissement" type="number"
                value="{{data.system.encaissement}}" data-dtype="Number" />
        </div>
        <div class="form-group">
            <label for="system.portee">Portee</label>
            <input name="system.portee" id="system.portee" type="text" value="{{data.system.portee}}"
                data-dtype="String" />
        </div>
        {{editor data.system.description target="system.description" button=true owner=owner editable=editable}}
    </section>
</form>