<form class="{{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        {{> 'systems/tylestel/templates/part/item-headers.html' }}
    </header>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <div class="form-group">
            <label for="system.resistance">Résistance</label>
            <input name="system.resistance" id="system.resistance" type="number" value="{{data.system.resistance}}"
                data-dtype="Number" />
        </div>
        {{editor data.system.description target="system.description" button=true owner=owner editable=editable}}
    </section>
</form>