<form
    class="{{cssClass}}"
    autocomplete="off"
>
    {{!-- Sheet Header --}}
    <header class="sheet-header">
        {{> 'systems/tylestel/templates/part/heros-headers.html' }}
    </header>


    {{!-- Sheet Body --}}
    <section class="sheet-body">
        {{> 'systems/tylestel/templates/part/heros-attributs.html' }}
        {{> 'systems/tylestel/templates/part/heros-metiers.html' }}
        <div class="cols">
            {{> 'systems/tylestel/templates/part/heros-divinites.html' }}
            <div>
                <compteur-vie max="20" current="19"/>
            </div>
        </div>
    </section>
</form>