<form class="{{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        {{> 'systems/tylestel/templates/part/item-headers.html' }}
    </header>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <div class="form-group">
            <label>
                Nb utilisations
            </label>
            <input type="number" name="system.nbUtilisationsMax" value="{{ data.system.nbUtilisationsMax }}" />
        </div>
        <section class="cols">
            <div class="form-group">
                <label>
                    Tests
                </label>
                {{> 'systems/tylestel/templates/part/select-attribut.html' value=data.system.attribut
                options=attributsMonstre }}
            </div>

        </section>
        {{editor data.system.description target="system.description" button=true owner=owner editable=editable}}
    </section>
</form>