<form class="{{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        {{> 'systems/tylestel/templates/part/item-headers.html' }}
    </header>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <div class="form-group">
            <label>
                Nb utilisations
            </label>
            <input type="number" name="system.nbUtilisationsMax" value="{{ data.system.nbUtilisationsMax }}" />
        </div>
        <section class="cols">
            <div class="form-group">
                <label>
                    Tests
                </label>
                {{> 'systems/tylestel/templates/part/select-attribut.html' value=data.system.attribut options=attributs
                }}
                {{> 'systems/tylestel/templates/part/select-metier.html' field="system.metier" value=data.system.metier
                options=metiers
                }}
            </div>
            <div class="form-group">
                <label>Pré-requis</label>
                {{> 'systems/tylestel/templates/part/select-metier.html' field="system.preRequis.metier"
                value=data.system.preRequis.metier options=metiers }}
                <input type="number" name="system.preRequis.value" value="{{ data.system.preRequis.value }}" />
            </div>
        </section>
        {{editor data.system.description target="system.description" button=true owner=owner editable=editable}}
    </section>
</form>