<form class="{{cssClass}}" autocomplete="off">
    {{!-- Sheet Header --}}
    <header class="sheet-header">
        {{> 'systems/tylestel/templates/part/monstres-headers.html' }}
    </header>

    {{!-- Sheet Tab Navigation --}}
    {{editor data.system.description target="system.description" button=true owner=owner editable=editable}}

    <ty-heros-toolbar actorId="{{ actor._id }}"></ty-heros-toolbar>

    <ul class="attributs-monstres">
        <li class="attribut">
            <label>
                Corps
            </label>
            <div class="attribut-container">
                <input type="number" name="system.corps" value="{{data.system.corps}}" />
            </div>
        </li>

        <li class="attribut">
            <label>
                Tête
            </label>
            <div class="attribut-container">
                <input type="number" name="system.tete" value="{{data.system.tete}}" />
            </div>
        </li>

        <li class="attribut">
            <label>
                Dommages
            </label>
            <div class="attribut-container">
                <input type="number" name="system.dommages" value="{{data.system.dommages}}" />
            </div>
        </li>

        <li class="attribut">
            <label>
                Initiative
            </label>
            <div class="attribut-container">
                <input type="number" name="system.initiative" value="{{data.system.initiative}}" />
            </div>
        </li>

        <li class="attribut">
            <label>
                Tours entravés
            </label>
            <div class="attribut-container">
                <input type="number" name="system.toursEntrave" value="{{data.system.toursEntrave}}" />
            </div>
        </li>

        <li class="attribut">
            <label>
                Défense
            </label>
            <input type="text" name="system.defense" value="{{data.system.defense}}" />
        </li>

        <li class="attribut">
            <label>
                Encaissement
            </label>
            <div class="attribut-container">
                <input type="number" name="system.encaissement" value="{{data.system.encaissement}}" />
            </div>
        </li>

        <li class="attribut">
            <label>
                Résistance
            </label>
            <div class="attribut-container">
                <input type="number" name="system.resistance" value="{{data.system.resistance}}" />
            </div>
        </li>

        <li class="attribut">
            <label>
                Vie max
            </label>
            <div class="attribut-container">
                <input type="number" name="system.vie.max" value="{{data.system.vie.max}}" />
            </div>
        </li>

        <compteur-vie max="{{ data.system.vie.max }}" current="{{ data.system.vie.current }}">
        </compteur-vie>

        <ul class="etats">
            {{#each data.system.etats as |etat id|}}
            <li class="etat">
                <label>
                    {{ etat.label }}
                    <input type="checkbox" name="system.etats.{{id}}.actif" {{checked etat.actif }} />
                </label>
                <span class="subtitle">- {{ etat.malus }} aux tests</span>
            </li>
            {{/each}}
        </ul>
    </ul>

    <manoeuvre-monstre actorId="{{ actor._id }}" titre="Actions" data="{{actions}}"></manoeuvre-monstre>

    <manoeuvre-monstre actorId="{{ actor._id }}" titre="Reactions" data="{{reactions}}"></manoeuvre-monstre>
</form>