{{> 'systems/tylestel/templates/part/heros-attributs.html' }}
{{> 'systems/tylestel/templates/part/heros-metiers.html' }}
<div class="cols">
    {{> 'systems/tylestel/templates/part/heros-divinites.html' }}
    <div class="cols-tight">
        <compteur-vie
            max="{{ data.data.vie.max }}"
            current="{{ data.data.vie.current }}"
        ></compteur-vie>
        <ul class="etats">
            {{#each data.data.etats as |etat id|}}
            <li class="etat">
                <label>
                    {{ etat.label }}
                    <input
                        type="checkbox"
                        name="data.etats.{{id}}.actif"
                        {{checked
                        etat.actif
                        }}
                    />
                </label>
                <span class="subtitle">- {{ etat.malus }} aux tests</span>
            </li>
            {{/each}}
        </ul>
    </div>
</div>