<img
    class="profile-img"
    src="{{item.img}}"
    data-edit="img"
    title="{{item.name}}"
    height="100"
    width="100"
/>
<div class="header-fields">
    <h1 class="charname"><input
            name="name"
            type="text"
            value="{{item.name}}"
            placeholder="Name"
        /></h1>
    <div class="item-subtitle">{{item.type}}</div>
    <div class="form-group">
        <label for="data.dieu">Dieu</label>
        <input
            name="data.dieu"
            id="data.dieu"
            type="text"
            value="{{data.data.dieu}}"
            data-dtype="String"
        />
    </div>
</div>