.sheet.tylestel.actor {

  &.heros .window-content {
    padding: 0;

    .sheet-header {
      border-bottom: 0;
      padding: 0 1rem;
    }
  }

  &.heros form.mainForm {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    max-height: 100%;
  }

  .heros-headers {
    display: flex;
    gap: 1rem;

    input[type=text] {
      width: 12rem;
      border: 0;
    }

    input.charname {
      width: 18rem;
    }

    select {
      width: 12rem;
      border: 0;
      font-family: "Spectral SC", serif;
    }

    input[type=number] {
      text-align: center;
      width: 6rem;
      border: 0;
    }
  }

  .sidebar {
    width: 12rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    background: rgba(225, 225, 225, 0.3);

    h2 {
      border: 0;
      margin: 1rem 1.5rem 3rem;
      text-align: center;
    }

    .wrapper {
      flex: 1 1 100%;
    }
  }

  .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-top: 8px;
    max-height: 100%;
    overflow: auto;

    & > header {
      width: 100%;
    }
  }

  .sheet-body {
    flex-direction: column;
    padding: 0 1rem;
  }

  .tab {
    height: 100%;
  }
    
  .tabs {
    padding: 0;

    h2 {
      font-size: 1.1rem;
      border: 0;
      padding: 0;
    }

    .item {
      height: 32px;
      border: 0;
      padding: 0;
      flex: 1;
    }

    .item.active {
      text-shadow: none;
      background-color: rgba(255, 231, 210, 0.5);
    }

    .item:hover {
      background-color: rgba(255, 220, 180, 0.9);
      text-shadow: none;
    }
  }

  ul + ul {
    margin-top: 1rem;
  }

  ul.attributs,
  ul.metiers,
  ul.divinites {
    display: flex;
    margin: 0.4rem 0rem;
    padding: 0;
    justify-content: flex-start;
    max-width: 100%;
    flex-wrap: wrap;

    li {
      display: flex;
      justify-content: space-between;
    }

    label {
      text-transform: capitalize;
    }


    input {
      border: 0px;
      text-align: center;
      background-color: transparent;
      max-width: 100%;
    }
  }

  ul.attributs {
    justify-content: center;
    align-items: center;

    li {
      width: 8rem;
      flex-direction: column-reverse;
      align-items: center;
    }

    label {
      font-family: 'Halant', serif;
      font-size: 1.4em;
    }

    .attribut-container  {
      height: 7em;
      width: 7em;
      display: flex;
      background: no-repeat center/cover url('../assets/fdp/attribut.png');
      justify-content: center;
      align-items: center;

      input {
        border: 0px;
        text-align: center;
        background-color: transparent;
        max-width: 100%;
      }
    }
  }

  ul.metiers,
  ul.divinites {
    li {
      margin: 0.2rem 0.4rem;
    }
  }

  ul.divinites {
    flex-direction: column;
    max-height: 15em;
    padding-left: 2rem;

    li {
      flex-direction: row-reverse;
      align-items: center;
      gap: 0.2rem 1rem;
    }

    .dieu-container  {
      height: 3em;
      width: 3.8em;
      display: flex;
      background: no-repeat center/cover url('../assets/fdp/dieu.png');
      justify-content: center;
      align-items: center;
    }

    .dieu-header {
      display: flex;
      flex-direction: column;
      flex: 1 1 100%;

      label {
        font-family: 'Halant', serif;
        font-size: 1.2em;
      }

      .subtitle {
        color: #5D5D5D;
      }
    }
  }

  ul.metiers {
    flex-direction: column;
    align-items: center;
    max-height: 12rem;

    li {
      width: 12rem;
    }

    .metier-container  {
      height: 1.5em;
      width: 3em;
      display: flex;
      background: no-repeat center/cover url('../assets/fdp/metier.png');
      justify-content: center;
      align-items: center;
    }
  }

  ul.etats {
    display: flex;
    flex-direction: column;

    li.etat {
      display: flex;
      flex-direction: column;
      margin-bottom: 0.6rem;

      label {
        display: flex;
        justify-content: space-between;
      }
    }

    .subtitle {
      font-size: 0.8rem;
      color: #9D9D9D;
      text-align: center;
      margin-top: -0.4rem;
      margin-right: 1.2rem;
    }
  }
}

div.destinee {
    margin-top: 1rem;
    width: 8rem;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-end;

    label {
      margin-bottom: 0.3rem;
      font-family: 'Halant', serif;
      font-size: 1.2em;
    }

    .destinee-container  {
      height: 1.8em;
      width: 3em;
      display: flex;
      background: no-repeat center/cover url('../assets/fdp/metier.png');
      justify-content: center;
      align-items: center;

      input {
        border: 0px;
        text-align: center;
        background-color: transparent;
        max-width: 100%;
      }
    }
}


.form-choix-test {
  select {
    text-transform: capitalize;
  }
}

.sheet.tylestel.monstres {
  
  .editor {
    height: 8rem;
  }

  ul.attributs-monstres {
    flex-direction: column;
    align-items: center;
    max-height: 18rem;
    display: flex;
    margin: 0.4rem 0rem;
    padding: 0;
    justify-content: flex-start;
    max-width: 100%;
    flex-wrap: wrap;
    gap: 0.4rem;

    li {
      display: flex;
      justify-content: space-between;
      width: 12rem;
    }

    label {
      text-transform: capitalize;
    }

    input[type=number] {
      border: 0px;
      text-align: center;
      background-color: transparent;
      max-width: 100%;
    }

    input[type=text] {
      max-width: 6rem;
    }

    .attribut-container  {
      height: 1.5em;
      width: 3em;
      display: flex;
      background: no-repeat center/cover url('../assets/fdp/metier.png');
      justify-content: center;
      align-items: center;
    }
  }
}