.sheet.tylestel {
  .window-content {
    background: url(../assets/fdp/marbre.jpg) repeat;
  }

  h1, h2, h3, h4, h5 {
    font-family: 'Spectral SC', serif;
  }
  
  & > section > form {
    display: flex;
    flex-direction: column;
  }

  .editor {
    height: 95%;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    margin: 0.6rem 0.2rem;
  }

  .sheet-header {
    border-bottom: 1px solid rgba(0.25,0.25,0.25,0.25);
    margin-bottom: 0.3rem;
  }

  .sheet-body {
    flex: 1 1 100%;
    display: flex;
  }
 
  input[type=number] {
    max-width: 3em;
  }

  select {
    max-width: 10em;
    height: 26px;
  }

  .form-group {
    display: flex;
    align-items: center;
  }

  .form-editor {
    min-height: 6em;
    margin-bottom: 2rem;

    .editor {
      min-height: 4em;
    }
  }

  .cols, .cols-tight {
    display: flex;
    gap: 2em;

    & > * {
      flex: 1;
    }

    & > .col-2 {
      flex: 2;
    }
  }

  .cols-tight {
    gap: 1em;
  }
}
