@import url('https://fonts.googleapis.com/css2?family=Spectral+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Halant&display=swap');
@import 'actor';
@import 'sheet';
@import 'manoeuvre';

.window-content {
    .dialog-buttons {
        flex: 0;
    }
}